/* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General Styles */
body{
    background: #eee6e6;
    color: #303030;
    margin: 0;
    font-size: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 5em 2em;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.25rem;
}

.section_title {
    margin-bottom: .25em;
}

.section_subtitle {
    margin: 0;
    font-size: 1.25rem;
}

.section_subtitle--intro,
.section_subheader--work,
.section_subtitle--about {
    background: #5276eb;
    color: azure;
    margin-bottom: 1em;
    padding: .25em 1em;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav {
    position: fixed;
}



/* Intro Section */

.intro {
    position: relative;
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: 
        "img title"
        "img subtitle";
    grid-template-columns: min-content max-content;
}

.intro_image {
    grid-area: img;
    min-width: 250px;
    position: relative;
}

.section_subtitle--intro{
    align-self: flex-start;
    grid-column: -1/1;
    grid-row: 3;
    text-align: right;
    display: inline-block;
}

/* My Work Section */

.my_work {
    position: relative;
    display: grid;
    margin: 0 auto;
    width: 50%;
}

/* About Me Section */

.about-me {
    position: relative;
    display: grid;
    margin: 0 auto;
    width: 50%;
}

/* Contact Me Section */

.contact-me {
    position: relative;
    display: grid;
    margin: 0 auto;
    width: 50%;
}