/* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* General Styles */
body{
    background: #fff;
    color: #303030;
    margin: 0;
    font-size: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.25rem;
}